@import "../../assets/css/github-markdown.css";
@import "../../assets/css/atom-one-light.css";

.editor-box {
    vertical-align: top;
    border: 1px solid #eee;
    box-shadow: 1px 1px #eee;
}
.editor-nav-wrap {
    height: 35px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.editor-nav {
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.editor-nav-item {
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}
.editor-nav-item:hover {
    background-color: #eee;
}
.editor-input-wrap {
    padding: 10px;
    background-color: #333;
    height: calc(100% - 55px);
}
.editor-input {
    resize: none;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'sans-serif';
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border: 0;
}
.editor-preview-wrap {
    background-color: #fff;
    overflow: auto;
    height: calc(100% - 55px);
    padding: 10px;
}
.editor-file-input {
    display: none;
}